/*reset start*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*reset end*/

/*main*/

.container {
    margin-top: 2%;
}

/*end main*/

/*form*/

input#start-date {
    min-width: 272px;
}

input[type="search"], select, a.paginate_button.current {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
}

.label {
    /*font-weight: bold;*/
    /*color: #1c94c4;*/
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
}

.ui-widget, .btn {
    font-size: inherit;
    vertical-align: top;
    padding: 6px 12px !important;
}

.top-block {
    overflow: hidden;
}

.top-block button {
    float: right;
    margin: 0 0 0 2%;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #3E95DF;
    border-color: #ccc;
}
/*end form*/

        /*table*/

table.dataTable.no-footer {
    border-bottom: none;
}

table thead > tr {
    background: #3E95DF;
    color: #fff;
}

div#dataTable_length {
    margin: 0 0 20px;
}

th.sorting_asc, th.sorting {
    font-weight: normal !important;
}

.txt-color {
    color: red;
}

    /*end table*/

    /*pre-loader*/

#loader {
    display: none;
    margin: 10px auto;
}

/* end pre-loader*/